<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Note new_note_making</title>
</head>
<body>
    <h1>Fillup Below Your Note Details to save.</h1>
    <form action="make_new_note" method="post">
        <label for="new_note_title_id">Write Your Note Title Below...</label>
        <br><br>
        <input type="text" name="new_note_title" id="new_note_title_id" placeholder="What is Your Note Title???">
        <br><br>
        <label for="new_note_sub_id">What is the Content of your note ???</label>
        <br><br>
        <textarea name="new_note_sub" id="new_note_sub_id">What is the subject of your note?</textarea>
        <button type="submit">confirm your new note</button>

    </form>


</body>
</html>