<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Submitted</title>
</head>

<body>
    <div class="container">
        <h1>Registration Successful 🎉</h1>
        <h1>See Your Data Below it will use in later commit to enter in the database</h1>
        <h2>Welcome, {{ fullname }}!</h2>
        <p><strong>Phone Number:</strong> {{ phone_no }}</p>
        <p><strong>Gender:</strong> {{ gender }}</p>
        <p>We will give you a password section to use later time.</p>
    </div>
</body>

</html>
