<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Website</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->

</head>

<body>
    <h1>Form Fillup Here</h1>
    <form action="submit_note_form" method="post">
        <label for="fullname">Full Name of User</label>
        <br>
        <input type="text" id="fullname" name="fullname" placeholder="What is ur Full Name">
        <br><br>

        <label for="phone_no">PHone Number ???</label>
        <br>
        <input type="number" id="phone_no" name="phone_no" placeholder="What is Sim Number?" />
        <br><br>





        <h3>Please Select Your True Gender👇</h3>

        <input type="radio" id="male" name="gender" value="MALE">
        <label for="male">Male Boy</label>
        <br>

        <input type="radio" id="female" name="gender" value="FEMALE">
        <label for="female">This is Girl Child</label>
        <br>

        <input type="radio" id="other" name="gender" value="OTHERS">
        <label for="other">You are God Bleesed Gender</label>
        <br>

        <input type="radio" id="nothing" name="gender" value="NOTHING">
        <label for="nothing">I dont want to say my gender</label>
        <br><br><br>


        <label for="note_title_id">Write The Note Title Here📝</label>
        <br>
        <input type="text" name="note_title" id="note_title_id" placeholder="What is Note Title">
        <br><br>

        <label for="note_subject_id">Write Your Note Content/Subject in the below Box✍️</label>
        <br>
        <textarea name="note_subject" id="note_subject_id" rows="4"
            placeholder="is Your Content Of YOur Note"></textarea>
        <br><br>

        <button type="submit">Submit Your Data🖲️</button>





    </form>
</body>

</html>