<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect Link</title>
</head>

<body>
    <h1>
        Please, you have not visited the correct link.<br><br>
        <img src="static/images/icons/wrong_cross.png" alt="Somethings Wrong" width="200">
        <br>
        <a href="/note_form_fillup" target="_blank">
            Press here to go to fill up the form and then submit.
        </a>
    </h1>


</body>

</html>